:root {
    --forms-height: 30px;
    --margin-top: 20px;
}
.container {
    width: 80%;
    margin: auto;
}

.search-form {
    margin: auto 0 auto auto;
    display: inline-flex;
}

.pagination {
    display: inline-flex;
    /* padding-left: 0; */
    /* margin: 20px 0; */
    border-radius: 4px;
    margin: auto 0 auto auto;
}

.forms {
    display: inline-flex;
    width: 100%;
    margin-top: var(--margin-top);
}

.left-forms {
    display: inline-flex;

}

.action-form {
    display: inline-flex;
}

.filer-form {
    margin: 0 40px 0 40px;
    display: inline-flex;
}

table, th , td {
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
}

table tr:first-child{
    border-bottom: 1px solid grey;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f1f1f1;
}
table tr:nth-child(odd) {
    background-color: #ffffff;
}

table {
    border: 1px solid grey;
    position: relative;
    width: 100%;
    color: #000068;
}

.message {
    text-align: center;
    color: #000068;
    font-weight: bold;
}

.btn-submit {
    height: var(--forms-height);
    width: 60px;
    font-size: 13px;
}

.input {
    height: var(--forms-height);
    width: 120px;
}