<div class="container">

    <div class="forms">
        <div class="left-forms">
            <form class="action-form">
                <select title="" ng-model="selectedAction" class="input">
                    <option value="">Bulk Actions</option>
                    <option value="archive">Archive</option>
                    <option value="publish">Publish</option>
                    <option value="unpublish">Unpublish</option>
                </select>
                <button type="submit" class="btn-submit" ng-click="bulkActions()" ng-disabled="selectedAction === null">Apply</button>
            </form>

            <form class="filer-form">
                <select title="" ng-model="selectedType" ng-options="item for item in listOfTypes" class="input">
                    <option value="">Select a type</option>
                </select>
                <button type="submit" class="btn-submit" ng-click="filter()">Filer</button>
            </form>
        </div>
        <form class="search-form">
            <input type="text" class="input" placeholder="Search" ng-model="searchKeyword" style="width: 250px;"/>
            <button type="submit" class="btn-submit" ng-click="search()" style="width: 100px">Search Pages</button>
        </form>
        <ul uib-pagination boundary-links="true" force-ellipses="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

    </div>

    <table ng-show="data.length > 0">
        <tr>
            <td style="width: 5%;"><input title="" type="checkbox" ng-click="changeAllSelections()" ng-model="allSelections"></td>
            <td style="width: 85%;">Name</td>
            <td style="width: 10%;">Type</td>
        </tr>
        <tr ng-repeat="item in filteredItems" ng-mouseenter="options=true" ng-mouseleave="options=false">
            <td><input title="" type="checkbox" ng-click="toggleSelection()" ng-model="selectedItems[data.indexOf(item)]"></td>
            <td>
                <div class="item-title" style="font-weight: bold">
                    {{ item.displayName || item.display_name}}
                </div>
                <div class="item-options">
                    <ul ng-show="options" class="breadcrumb">
                        <li><a href="https://cs1.iridize.com/api/latest/app/8MXQlGj6R8Ogx2PohL9E+w/guide/{{item.apiName}}/edit">Edit</a></li>
                        <li><a href="https://cs1.iridize.com/api/latest/app/8MXQlGj6R8Ogx2PohL9E+w/guide/{{item.apiName}}/clone">Clone</a></li>
                        <li><a href="https://cs1.iridize.com/api/latest/app/8MXQlGj6R8Ogx2PohL9E+w/guide/{{item.apiName}}/preview">Preview</a></li>
                        <li><a href="https://cs1.iridize.com/api/latest/app/8MXQlGj6R8Ogx2PohL9E+w/guide/{{item.apiName}}/analytics">Analytics</a></li>
                        <li><a href="https://cs1.iridize.com/api/latest/app/8MXQlGj6R8Ogx2PohL9E+w/guide/{{item.apiName}}/archive">Archive</a></li>
                        <li><a href="https://cs1.iridize.com/api/latest/app/8MXQlGj6R8Ogx2PohL9E+w/guide/{{item.apiName}}/publish">Publish</a></li>
                        <li><a href="https://cs1.iridize.com/api/latest/app/8MXQlGj6R8Ogx2PohL9E+w/guide/{{item.apiName}}/unpublish">Unpublish</a></li>
                    </ul>
                    <br ng-show="!options">
                </div>

            </td>
            <td>{{ item.guide_type }}</td>
        </tr>
    </table>

    <p ng-show="data.length === 0" class="message">{{message}}</p>
</div>

